In [1]:
import pandas as pd

In [2]:
from six.moves import cPickle as pickle

In [3]:
valid_data = pd.read_csv('data/full_train_wo_appts_cleaned_encoded.csv')

In [4]:
valid_data = valid_data.tail()

In [5]:
valid_data[['patient_id','Bucket','Revenue']]

       patient_id  Bucket  Revenue
83302      454510       3   4000.0
83303      454598       2    600.0
83304      454598       2    600.0
83305      454658       2    600.0
83306      454678       2   1000.0

In [6]:
valid_data = valid_data.drop_duplicates()

In [7]:
valid_pat_ids = valid_data['patient_id']

In [8]:
# Removing unnecessary columns
X_valid = valid_data.drop(columns=['patient_id','Bucket','Revenue'])

In [9]:
Y_valid = valid_data['Bucket']

In [10]:
Y_valid

83302    3
83303    2
83304    2
83305    2
83306    2
Name: Bucket, dtype: int64

In [11]:
try:
    # Loading the classifier
    #with open('data/train_svc_clf_.pickle', 'rb') as f:
    with open('data/train_svc_clf_wo_pat_id.pickle', 'rb') as f:
        clf = pickle.load(f)
except Exception as e:
    print('Exception ', e)

In [12]:
Y_predict = clf.predict(X_valid)

In [13]:
Y_predict

array([3, 2, 2, 2, 2])

In [ ]:
# Seems we got the same output, the predictions are good.