In [1]:
from pathlib import Path
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Reading it from csv using pandas
patient_monthwise_revenue_test = pd.read_csv('data/patient_monthwise_revenue_test.csv')

d:\softs\anaconda3\envs\portea\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Importing all other files
patient_monthwise_revenue_train = pd.read_csv('data/patient_monthwise_revenue_train.csv')
physio_diagnosis_train = pd.read_csv('data/physio_diagnosis_train.csv')
physio_appts_train = pd.read_csv('data/physio_appts_train.csv')
patient_train_classified = pd.read_csv('data/patient_train_classified.csv')
physio_diagnosis_test = pd.read_csv('data/physio_diagnosis_test.csv')

d:\softs\anaconda3\envs\portea\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
patient_monthwise_revenue_test.head()

,patient_id,visit_month_year,service_id,city,ref_type,ref_name,ref_source,service_name,FVD,FVM,FVS,approx_age,gender,LVD,brand,visits_required,diagnosis,avg_nps,Unnamed: 18,Unnamed: 19
0,122,01/14,2,Mumbai,B2C,None,Direct Organic,P,14/11/2013,11/13,P,3,male,11/03/2015,Portea,2,neonatal epilepsy,\N,NaN,NaN
1,122,01/15,2,Mumbai,B2C,None,Direct Organic,P,14/11/2013,11/13,P,3,male,11/03/2015,Portea,2,neonatal epilepsy,\N,NaN,NaN
2,122,11/13,2,Mumbai,B2C,None,Direct Organic,P,14/11/2013,11/13,P,3,male,11/03/2015,Portea,2,neonatal epilepsy,\N,NaN,NaN
3,122,11/14,2,Mumbai,B2C,None,Direct Organic,P,14/11/2013,11/13,P,3,male,11/03/2015,Portea,2,neonatal epilepsy,\N,NaN,NaN
4,122,12/13,2,Mumbai,B2C,None,Direct Organic,P,14/11/2013,11/13,P,3,male,11/03/2015,Portea,2,neonatal epilepsy,\N,NaN,NaN