In [1]:
import pandas as pd

In [ ]:
# Reading it from csv using pandas
patient_monthwise_revenue_test = pd.read_csv('data/patient_monthwise_revenue_test.csv')

In [ ]:
# Importing all other files
patient_monthwise_revenue_train = pd.read_csv('data/patient_monthwise_revenue_train.csv')
physio_diagnosis_train = pd.read_csv('data/physio_diagnosis_train.csv')
physio_appts_train = pd.read_csv('data/physio_appts_train.csv')
patient_train_classified = pd.read_csv('data/patient_train_classified.csv')
physio_diagnosis_test = pd.read_csv('data/physio_diagnosis_test.csv')

In [ ]:
patient_monthwise_revenue_train.head()

In [ ]:
patient_monthwise_revenue_train.count()

In [ ]:
# patient_id is marked as patientid - this need to be renamed
physio_diagnosis_train.head()

In [ ]:
physio_diagnosis_train = physio_diagnosis_train.rename(columns={'patientId': 'patient_id'})
physio_diagnosis_train.head()

In [ ]:
physio_diagnosis_train.count()

In [ ]:
# Merging/Joining patient_monthwise_revenue_train and physio_diagnosis_train on column match of 'patient_id'
md_monthwise_revenue_physio_diagnosis_train = pd.merge(patient_monthwise_revenue_train, physio_diagnosis_train, on='patient_id')
# After merging the no of columns should be 30.
md_monthwise_revenue_physio_diagnosis_train.head()

In [ ]:
# which ever has the max count will be applied on same
md_monthwise_revenue_physio_diagnosis_train.count()

In [ ]:
# here the patient id is named as pat_id, this need to be renamed
physio_appts_train.head()

In [ ]:
physio_appts_train = physio_appts_train.rename(columns={'pat_id': 'patient_id'})
physio_appts_train.head()

In [ ]:
physio_appts_train.count()

In [ ]:
# Merging md_monthwise_revenue_physio_diagnosis_train and physio_appts_train
md_revenue_diagnois_appts_train = pd.merge(md_monthwise_revenue_physio_diagnosis_train, physio_appts_train, on='patient_id')

In [ ]:
# Now the merged data will be 39 columns
md_revenue_diagnois_appts_train.head()

In [ ]:
md_revenue_diagnois_appts_train.count()

In [ ]:
# here the patient id is named as PID, this need to be renamed
patient_train_classified.head()

In [ ]:
patient_train_classified = patient_train_classified.rename(columns={'PID': 'patient_id'})
patient_train_classified.head()

In [ ]:
patient_train_classified.count()

In [ ]:
# Now merging the md_revenue_diagnois_appts_train with patient_train_classified
md_revenue_diagnois_appts_class_train = pd.merge(md_revenue_diagnois_appts_train, patient_train_classified, on='patient_id')

In [ ]:
# Now the merged Dataframe contains 41 columns
md_revenue_diagnois_appts_class_train.head()

In [ ]:
# This is the merged Dataframe of all the training data, which we should save for further processing
md_revenue_diagnois_appts_class_train.count()

In [ ]:
# Writing the raw data to csv file
md_revenue_diagnois_appts_class_train.to_csv('data/full_raw_train.csv', index=False)

In [2]:
# Reading the written csv file to pandas dataframe
full_raw_train = pd.read_csv('data/full_raw_train.csv')

D:\softs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (14,20,21,22,25,26,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
full_raw_train.head()

,Unnamed: 0,patient_id,visit_month_year,service_id,visits_count,city,revenue,ref_type,ref_name,ref_source,...,startDateTime,serviceId,name,status,cost,discount,patient_ivr_confirmation,appointment_delayed,Bucket,Revenue
0,0,10020,04/15,2,1,Chennai,500.0,B2C,None,Direct Organic,...,2013-11-25 11:00:00,2,Physiotherapy,cancelled,0.0,0.0,\N,0,Low,500.0
1,1,10020,04/15,2,1,Chennai,500.0,B2C,None,Direct Organic,...,2015-04-21 13:00:00,2,Physiotherapy,successful,500.0,0.0,\N,0,Low,500.0
2,2,10293,04/17,2,7,Mumbai,4900.0,B2C,Facebook,Digital + ATL,...,2013-12-21 16:30:00,2,Physiotherapy,cancelled,600.0,50.0,\N,0,Med,4900.0
3,3,10293,04/17,2,7,Mumbai,4900.0,B2C,Facebook,Digital + ATL,...,2017-04-08 11:00:00,2,Physiotherapy,successful,700.0,0.0,1,0,Med,4900.0
4,4,10293,04/17,2,7,Mumbai,4900.0,B2C,Facebook,Digital + ATL,...,2017-04-01 11:00:00,2,Physiotherapy,cancelled,700.0,0.0,\N,0,Med,4900.0

In [4]:
# Printing the column names
list(full_raw_train.columns.values)

['Unnamed: 0',
 'patient_id',
 'visit_month_year',
 'service_id',
 'visits_count',
 'city',
 'revenue',
 'ref_type',
 'ref_name',
 'ref_source',
 'service_name',
 'FVD',
 'FVM',
 'FVS',
 'approx_age',
 'gender_x',
 'LVD_x',
 'brand',
 'visits_required',
 'diagnosis_x',
 'avg_nps',
 'Unnamed: 20',
 'Unnamed: 21',
 'diagnosis_y',
 'Service',
 'Appt_id',
 'AGE',
 'gender_y',
 'LVD_y',
 'Unnamed: 7',
 'Unnamed: 8',
 'appt_id',
 'startDateTime',
 'serviceId',
 'name',
 'status',
 'cost',
 'discount',
 'patient_ivr_confirmation',
 'appointment_delayed',
 'Bucket',
 'Revenue']

In [10]:
full_raw_train[['service_id', 'serviceId']].head()

   service_id  serviceId
0           2          2
1           2          2
2           2          2
3           2          2
4           2          2

In [12]:
full_raw_train[['patient_id','appt_id', 'Appt_id']].head()

   patient_id  appt_id  Appt_id
0       10020      629   432155
1       10020   432155   432155
2       10293     2257  2617156
3       10293  2617156  2617156
4       10293  2625825  2617156

In [ ]:
full_raw_train.drop(['serviceId', 'Appt_id']

In [ ]:
# Removing the duplicate columns
# a1) service_id a2) serviceId
# b1) service_name b2) name b3) Service
full_raw_train = full_raw_train.T.drop_duplicates().T

In [ ]:
# Now rinting the column names after removing the duplicates
list(full_raw_train.columns.values)

In [ ]:
# Remove related columns 
# a) service id -> service name, b)
pd

In [7]:
full_raw_train[['patient_id', 'appt_id']]

         patient_id  appt_id
0             10020      629
1             10020   432155
2             10293     2257
3             10293  2617156
4             10293  2625825
5             10293  2625826
6             10293  2625827
7             10293  2632019
8             10293  2634194
9             10293  2639749
10            10293  2639750
11            10293  2639751
12            10381     2719
13            10381     2927
14            10381   675822
15            10381   679254
16            10381   679255
17            10381   679256
18            10381   679257
19            10381   679258
20            10381   679259
21            10381   679260
22            10381   679261
23            10381   679262
24            10381   679263
25            10381   685154
26            10381   685157
27            10381   685186
28            10381   701562
29            10381   701563
...             ...      ...
2968528      454372  3607846
2968529      454372  3607904
2968530      454378  3507115
2968531      454484  3509096
2968532      454510  3509710
2968533      454510  3515354
2968534      454510  3515355
2968535      454510  3553272
2968536      454510  3553273
2968537      454510  3559094
2968538      454510  3559095
2968539      454510  3559096
2968540      454510  3509710
2968541      454510  3515354
2968542      454510  3515355
2968543      454510  3553272
2968544      454510  3553273
2968545      454510  3559094
2968546      454510  3559095
2968547      454510  3559096
2968548      454598  3510990
2968549      454598  3547838
2968550      454598  3557284
2968551      454598  3510990
2968552      454598  3547838
2968553      454598  3557284
2968554      454658  3511211
2968555      454658  3529513
2968556      454678  3511288
2968557      454678  3520450

[2968558 rows x 2 columns]