In [1]:
from pathlib import Path
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Reading it from csv using pandas
patient_monthwise_revenue_test = pd.read_csv('data/patient_monthwise_revenue_test.csv')

d:\softs\anaconda3\envs\portea\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Importing all other files
patient_monthwise_revenue_train = pd.read_csv('data/patient_monthwise_revenue_train.csv')
physio_diagnosis_train = pd.read_csv('data/physio_diagnosis_train.csv')
physio_appts_train = pd.read_csv('data/physio_appts_train.csv')
patient_train_classified = pd.read_csv('data/patient_train_classified.csv')
physio_diagnosis_test = pd.read_csv('data/physio_diagnosis_test.csv')

d:\softs\anaconda3\envs\portea\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
patient_monthwise_revenue_train.head()

,patient_id,visit_month_year,service_id,visits_count,city,revenue,ref_type,ref_name,ref_source,service_name,...,FVS,approx_age,gender,LVD,brand,visits_required,diagnosis,avg_nps,Unnamed: 20,Unnamed: 21
0,10020,04/15,2,1,Chennai,500.0,B2C,None,Direct Organic,P,...,P,62,male,21/04/2015,Portea,1,Post Operative condition of Cardiac Valve repl...,\N,NaN,NaN
1,10293,04/17,2,7,Mumbai,4900.0,B2C,Facebook,Digital + ATL,P,...,P,42,female,25/04/2017,Portea,8,Rheumatoid arthritis,9,NaN,NaN
2,10381,07/15,2,1,NCR,500.0,B2C,None,Direct Organic,P,...,P,67,male,11/09/2015,Portea,10,frozen shoulder,8,NaN,NaN
3,10381,08/15,2,20,NCR,9500.0,B2C,None,Direct Organic,P,...,P,67,male,11/09/2015,Portea,10,frozen shoulder,8,NaN,NaN
4,10381,08/15,98,1,NCR,0.0,B2C,None,Direct Organic,P,...,P,67,male,11/09/2015,Portea,10,frozen shoulder,8,NaN,NaN

In [5]:
patient_monthwise_revenue_train.count()

patient_id          83307
visit_month_year    83307
service_id          83307
visits_count        83307
city                83307
revenue             83307
ref_type            83307
ref_name            83307
ref_source          83307
service_name        82084
FVD                 83307
FVM                 83307
FVS                 83307
approx_age          83307
gender              83274
LVD                 83307
brand               83307
visits_required     83307
diagnosis           81574
avg_nps             83307
Unnamed: 20            40
Unnamed: 21            16
dtype: int64

In [6]:
# patient_id is marked as patientid - this need to be renamed
physio_diagnosis_train.head()

,patientId,diagnosis,Service,Appt_id,AGE,gender,LVD,Unnamed: 7,Unnamed: 8
0,10020,Post Operative condition of Cardiac Valve repl...,physiotherapy,432155,62,male,21/04/2015,NaN,NaN
1,10293,Rheumatoid arthritis,physiotherapy,2617156,42,female,25/04/2017,NaN,NaN
2,10381,frozen shoulder,physiotherapy,675822,67,male,11/09/2015,NaN,NaN
3,10388,"Osteoarthritis,Bilateral Osteoarthritis",physiotherapy,783936,75,female,28/04/2017,NaN,NaN
4,10611,"periarthritis shoulder (Right side),frozen sho...",physiotherapy,1083765,63,male,22/01/2016,NaN,NaN

In [7]:
physio_diagnosis_train = physio_diagnosis_train.rename(columns={'patientId': 'patient_id'})
physio_diagnosis_train.head()

,patient_id,diagnosis,Service,Appt_id,AGE,gender,LVD,Unnamed: 7,Unnamed: 8
0,10020,Post Operative condition of Cardiac Valve repl...,physiotherapy,432155,62,male,21/04/2015,NaN,NaN
1,10293,Rheumatoid arthritis,physiotherapy,2617156,42,female,25/04/2017,NaN,NaN
2,10381,frozen shoulder,physiotherapy,675822,67,male,11/09/2015,NaN,NaN
3,10388,"Osteoarthritis,Bilateral Osteoarthritis",physiotherapy,783936,75,female,28/04/2017,NaN,NaN
4,10611,"periarthritis shoulder (Right side),frozen sho...",physiotherapy,1083765,63,male,22/01/2016,NaN,NaN

In [8]:
physio_diagnosis_train.count()

patient_id    48804
diagnosis     47748
Service       48804
Appt_id       48803
AGE           48804
gender        48775
LVD           48804
Unnamed: 7       18
Unnamed: 8        2
dtype: int64

In [9]:
# Merging/Joining patient_monthwise_revenue_train and physio_diagnosis_train on column match of 'patient_id'
md_monthwise_revenue_physio_diagnosis_train = pd.merge(patient_monthwise_revenue_train, physio_diagnosis_train, on='patient_id')
md_monthwise_revenue_physio_diagnosis_train.head()

,patient_id,visit_month_year,service_id,visits_count,city,revenue,ref_type,ref_name,ref_source,service_name,...,Unnamed: 20,Unnamed: 21,diagnosis_y,Service,Appt_id,AGE,gender_y,LVD_y,Unnamed: 7,Unnamed: 8
0,10020,04/15,2,1,Chennai,500.0,B2C,None,Direct Organic,P,...,NaN,NaN,Post Operative condition of Cardiac Valve repl...,physiotherapy,432155,62,male,21/04/2015,NaN,NaN
1,10293,04/17,2,7,Mumbai,4900.0,B2C,Facebook,Digital + ATL,P,...,NaN,NaN,Rheumatoid arthritis,physiotherapy,2617156,42,female,25/04/2017,NaN,NaN
2,10381,07/15,2,1,NCR,500.0,B2C,None,Direct Organic,P,...,NaN,NaN,frozen shoulder,physiotherapy,675822,67,male,11/09/2015,NaN,NaN
3,10381,08/15,2,20,NCR,9500.0,B2C,None,Direct Organic,P,...,NaN,NaN,frozen shoulder,physiotherapy,675822,67,male,11/09/2015,NaN,NaN
4,10381,08/15,98,1,NCR,0.0,B2C,None,Direct Organic,P,...,NaN,NaN,frozen shoulder,physiotherapy,675822,67,male,11/09/2015,NaN,NaN

In [10]:
md_monthwise_revenue_physio_diagnosis_train.count()

patient_id          83307
visit_month_year    83307
service_id          83307
visits_count        83307
city                83307
revenue             83307
ref_type            83307
ref_name            83307
ref_source          83307
service_name        82084
FVD                 83307
FVM                 83307
FVS                 83307
approx_age          83307
gender_x            83274
LVD_x               83307
brand               83307
visits_required     83307
diagnosis_x         81574
avg_nps             83307
Unnamed: 20            40
Unnamed: 21            16
diagnosis_y         81570
Service             83307
Appt_id             83292
AGE                 83307
gender_y            83274
LVD_y               83307
Unnamed: 7             43
Unnamed: 8             16
dtype: int64

In [11]:
# here the patient id is named as pat_id, this need to be renamed
physio_appts_train.head()

,appt_id,pat_id,startDateTime,serviceId,name,status,cost,discount,patient_ivr_confirmation,appointment_delayed
0,629,10020,2013-11-25 11:00:00,2,Physiotherapy,cancelled,0.0,0.0,\N,0
1,2257,10293,2013-12-21 16:30:00,2,Physiotherapy,cancelled,600.0,50.0,\N,0
2,2719,10381,2014-01-02 11:30:00,2,Physiotherapy,cancelled,550.0,0.0,\N,0
3,2785,10388,2014-01-04 10:00:00,2,Physiotherapy,cancelled,0.0,0.0,\N,0
4,2927,10381,2014-01-02 11:30:00,2,Physiotherapy,cancelled,550.0,0.0,\N,0

In [12]:
physio_appts_train = physio_appts_train.rename(columns={'pat_id': 'patient_id'})
physio_appts_train.head()

,appt_id,patient_id,startDateTime,serviceId,name,status,cost,discount,patient_ivr_confirmation,appointment_delayed
0,629,10020,2013-11-25 11:00:00,2,Physiotherapy,cancelled,0.0,0.0,\N,0
1,2257,10293,2013-12-21 16:30:00,2,Physiotherapy,cancelled,600.0,50.0,\N,0
2,2719,10381,2014-01-02 11:30:00,2,Physiotherapy,cancelled,550.0,0.0,\N,0
3,2785,10388,2014-01-04 10:00:00,2,Physiotherapy,cancelled,0.0,0.0,\N,0
4,2927,10381,2014-01-02 11:30:00,2,Physiotherapy,cancelled,550.0,0.0,\N,0

In [13]:
physio_appts_train.count()

appt_id                     501324
patient_id                  501324
startDateTime               501324
serviceId                   501324
name                        501324
status                      501324
cost                        501324
discount                    501324
patient_ivr_confirmation    501324
appointment_delayed         501324
dtype: int64

In [14]:
# here the patient id is named as PID, this need to be renamed
patient_train_classified.head()

      PID Bucket  Revenue
0  400061    Med   1200.0
1   25535   High  25150.0
2  409013    Med   4480.0
3  164585    Low    500.0
4   56960    Low    500.0

In [15]:
patient_train_classified = patient_train_classified.rename(columns={'PID': 'patient_id'})
patient_train_classified.head()

   patient_id Bucket  Revenue
0      400061    Med   1200.0
1       25535   High  25150.0
2      409013    Med   4480.0
3      164585    Low    500.0
4       56960    Low    500.0

In [16]:
patient_train_classified.count()

patient_id    48804
Bucket        48804
Revenue       48804
dtype: int64